:root{
--blue: #105171;
--lightblue: #4fb1fb;
--white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* gives header the blue background, white text, font & spacing needed */
.header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blue);
    color: #ffffff;
}

/* aligns the header */
.header h1{
    display: inline-block;
    font-size: 48px;
}

/* aligns the nav */
.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul{
    list-style-type: none;
}

.header nav ul li{
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: var(--white);
    text-decoration: none;
}

/* relative position alignment for the banner text */
.banner {
    position: relative;
}

/* banner text */
.banner p {
    position: absolute;
    top: 60px;
    left: 100px;;
    color: var(--white);
}

/* banner image specs */
.banner img {
    width: 100%;
    height: 200px;
    opacity: 0.5;
    object-fit: cover;
}

/* reactive image */
.banner img:hover {
    opacity: 1;
    transition: 0.5s;
}

.section{
    display: flex;
    margin: 30px;
    justify-content: center;
}

.section h2{
    margin-right: 30px;
}

.section .content {
    border-left: 1px solid black;
    padding: 30px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 47px;
    list-style: none;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: var(--white);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border: 10px var(--lightblue);
}

.main-item {
    flex-basis: 100%;
    background-image: url(blue-background.webp);
    background-size: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--blue);
    color: white;
    text-align: left;
 }

 @media screen {
    
 }